@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  font-family: 'Mukta', sans-serif;
}

@layer components{
    .grid-wrap {
          display: grid;
          grid-template-columns: repeat(auto-fill, max(300px));
          grid-gap:1rem;
        }
}

#navlink a.active{
  scale: 1.3;
  font-weight: 700;
}

